* {
  color: red;
}


 @font-face {
   font-family:Saira;
   src: Saira/Saira-Regular.ttf;
 }

h1 {
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  }
