
h1 {
    font-family: 'Saira', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
}

p {
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

button {
    font-family: 'Saira' sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    background: #CD0000;
    border: none;
    position: static;
    width: auto;
    height: auto;
    left: auto;
    top: auto;
  }
